* {
    padding: 0;
    margin: 0;
    font-family: 'Basic';
}



.bg-image{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-90%);
    text-align: center;
    color: #ffff;
    font-size: 26px;
}

.content h3 {
    font-size: 25px;
}

.content p {
    font-size: 15px;
    margin-top: 2vw;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #660096;
    background: transparent;
    color: #ffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background-color: #660096;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}